@use "sass:color";
@use "vars";
@use "reset";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
  font-family: 'Rubik', 'Helvetica Neue', sans-serif;
  color: vars.$darkblue;
  background-color: vars.$grey-97;
}

.attribution {
  display: none;
  font-size: 12px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  margin: 3rem;
  flex-grow: 1;
  max-width: 680px;
  @include vars.flex(1, column);
}

.commentList {
  @include vars.flex(1, column);
}

.thread {
  @include vars.flex(1, column);

  > * {
    @include vars.flex(1, column);
  }

  .replies {
    margin-left: 4rem;
    position: relative;

    &::before {
      content: "";
      background-color: vars.$grey-93;
      width: 4px;
      height: 100%;
      position: absolute;
      left: -2rem;
    }

    > * {
      @include vars.flex(1, column);
    }
  }
}

.addAComment,
.comment {
  background-color: vars.$white;
  border-radius: 4px;
  padding: 1.25rem 1.5rem;
  @include vars.flex(1, _, _, flex-start);
}

.comment .addAComment {
  padding: 0;
}

.profilePic {
  width: 2rem;
}

.comment {
  .main {
    @include vars.flex(1, column);
    flex-grow: 1;
  }

  .top {
    @include vars.flex(2, _, space-between, center);

    .info {
      @include vars.flex(0.5, _, _, center, wrap);
    }

    .actions {
      @include vars.flex(0.5, _, flex-end, _, wrap);

      > button {
        @include vars.flex(0.25);
        font-weight: 600;
        color: vars.$blue;
        border: none;
        border-radius: 4px;
        background-color: transparent;

        &.delete {
          color: vars.$red;
        }

        &:hover {
          outline: 1px solid  vars.$lightblue;
        }
        
        &:active {
          outline: 1px solid  vars.$blue;
        }
      }
    }
  }

  .username {
    font-weight: 700;
  }

  .createdAt {
    font-size: 0.85rem;
    color: vars.$greyblue;
  }

  .replyingTo {
    font-weight: 600;
    color: vars.$blue;
  }

  .tag {
    background-color: vars.$blue;
    color: vars.$white;
    border-radius: 4px;
    padding: 0 0.35rem;
    font-size: 0.85rem;
  }
}

.score {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: vars.$grey-93;
  font-weight: 600;
  color: vars.$blue;

  @include vars.flex(0, column);
  align-items: center;
  align-self: flex-start;


  button {
    border: none;
    background-color: transparent;

    i {
      color: vars.$lightblue;
    }

    &:hover,
    &.selected {
      i {
        color: vars.$blue;
      }
    }
  }

}

form {
  @include vars.flex(1, _, _, flex-start);
  flex-grow: 1;

  textarea {
    flex-grow: 1;
  }

  button {
    background-color: vars.$blue;
    color: white;
    // padding: 0.5rem 1.5rem;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 40px;
    &:disabled {
      opacity: 0.5;
    }
  }
}

.popup-bg {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background-color: color.change(black, $alpha: 0.25);

  .dialog {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 4px;
    @include vars.flex(1, column);

    button:nth-child(1) {
      // X button
      padding: 0;
      margin-left: auto;
      background-color: transparent;
    }

    .buttons {
      @include vars.flex(1, row, space-between, _, wrap);

      > * {
        flex-grow: 1;

        &.delete {
          background-color: vars.$red;
          color: white;
        }
      }
    }
  }

  button {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
  }
}